# SIMULATOR SERVICE - POD

apiVersion: v2
kind: Pod
metadata:
  name: aer-simulator-pod
  labels:
    app: aer-simulator
    component: simulator
spec:
  containers:
  - name: simulator
    image: aer-simulator:v2
    imagePullPolicy: Never  # k8s will not try to pull image from registry
    ports:
    - containerPort: 5001 # expose the container via this port
      name: http
      protocol: TCP
    env:
    - name: PYTHONUNBUFFERED # flush the logs.
      value: "1"

      # load IBM credentials from secret
    - name: IBM_API_KEY
      valueFrom:
        secretKeyRef:
          name: ibm-quantum-secret
          key: api-key

    - name: IBM_INSTANCE
      valueFrom: 
        secretKeyRef:
          name: ibm-quantum-secret
          key:  instance
          optional: true

    resources:
      requests: # minimum required resources
        memory: "512Mi"
        cpu: "500m"
      limits: # maximum required resources
        memory: "2Gi"
        cpu: "2000m"
    livenessProbe: # to check whether the pod is alive
      httpGet:
        path: /health # http://aer-simulator-service/health
        port: 5001
      initialDelaySeconds: 10
      periodSeconds: 30 # check it at 30 seconds interval
      timeoutSeconds: 5
    readinessProbe:
      httpGet:
        path: /health
        port: 5001
      initialDelaySeconds: 5
      periodSeconds: 10
      timeoutSeconds: 3
---
#  SIMULATOR SERVICE - Service (Network Access)

apiVersion: v1
kind: Service
metadata:
  name: aer-simulator-service
  labels:
    app: aer-simulator
spec:
  selector:
    app: aer-simulator
  ports:
  - protocol: TCP
    port: 5001
    targetPort: 5001
    name: http
  type: ClusterIP # Available inside the Kubernetes cluster only.