apiVersion: v1
kind: Pod
metadata:
  name: qiskit-worker-pod
  labels:
    app: qiskit-worker
    component: worker
spec:
  containers:
  - name: worker
    image: qiskit-worker:v3
    imagePullPolicy: Never  
    env:
    - name: TRANSPILER_SERVICE_URL
      value: "http://transpiler-service:5002"

    - name: PYTHONUNBUFFERED
      value: "1"

    resources:
      requests:
        memory: "512Mi"
        cpu: "500m"
      limits:
        memory: "1Gi"
        cpu: "1000m"
    # livenessProbe:
    #   exec:
    #     command:
    #     - sh
    #     - -c
    #     - "ps aux | grep -v grep | grep 'tail -f' || exit 1"
    #   initialDelaySeconds: 10
    #   periodSeconds: 30