apiVersion: v1
kind: Pod
metadata:
  name: transpiler-pod
  labels:
    app: transpiler

spec:
  serviceAccountName: transpiler-sa  
  containers:
  - name: compiler
    image: transpiler:v3
    imagePullPolicy: Never
    ports:
    - containerPort: 5002
      name: http
      protocol: TCP
    
    env:
    - name: PYTHONUNBUFFERED
      value: "1"

    - name: IBM_API_KEY
      valueFrom:
        secretKeyRef:
          name: ibm-quantum-secret
          key: api-key

    - name: IBM_INSTANCE
      valueFrom: 
        secretKeyRef:
          name: ibm-quantum-secret
          key:  instance
          optional: true

    resources:
      requests: # minimum required resources
        memory: "512Mi"
        cpu: "500m"
      limits: # maximum required resources
        memory: "2Gi"
        cpu: "2000m"

    livenessProbe: # to check whether the pod is alive
      httpGet:
        path: /health 
        port: 5002
      initialDelaySeconds: 10
      periodSeconds: 30 # check it at 30 seconds interval
      timeoutSeconds: 5
     
    readinessProbe:
      httpGet:
        path: /health
        port: 5002
      initialDelaySeconds: 5
      periodSeconds: 10
      timeoutSeconds: 3

---
#  TRANSPILER SERVICE - Service (Network Access)

apiVersion: v1
kind: Service
metadata:
  name: transpiler-service
  labels:
    app: transpiler
spec:
  selector:
    app: transpiler
  ports:
  - protocol: TCP
    port: 5002
    targetPort: 5002
    name: http
  type: ClusterIP # Available inside the Kubernetes cluster only.
       
        

