---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - create
  - delete
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - serviceaccounts
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - aerjob.nav.io
  resources:
  - quantumaerjobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - aerjob.nav.io
  resources:
  - quantumaerjobs/finalizers
  verbs:
  - update
- apiGroups:
  - aerjob.nav.io
  resources:
  - quantumaerjobs/status
  verbs:
  - get
  - patch
  - update
